@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent--white: hsla(0, 0%, 100%, 0.75);
    --very--light--gray: hsl(0, 0%, 95%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca',
        sans-serif;
}

.container {
    padding: 5rem 1rem;
}

.card {
    padding: 2.5rem;
    min-height: 15rem;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    color: var(--very--light--gray);
}

p {
    font-size: 0.9375rem;
    color: var(--transparent--white);
    line-height: 1.5rem;
}

.bright-orange {
    background: var(--bright-orange);
    border-radius: 8px 8px 0 0;
}

.dark-cyon {
    background: var(--dark-cyan);
}

.very-dark-cyon {
    background: var(--very-dark-cyan);
    border-radius: 0 0 8px 8px;
}

img {
    margin: .75rem 0;
}

.btn {
    padding: .75rem 1.5rem;
    border-radius: 5rem;
    border: none;
    background: var(--very--light--gray);
    margin-top: .75rem;
    font-size: 0.9375rem;
    display: inline-block;
    text-align: center;
    font-weight: 700;
}

.button1 {
    color: var(--bright-orange);
}

.button2 {
    color: var(--dark-cyan);
}

.button3 {
    color: var(--very-dark-cyan);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: bottom;

}

@media(min-width: 50rem) {
    .container {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .card {
        max-width: 13.2rem;
    }

    .btn {
        margin-top: 4rem;
    }

    .bright-orange {
        border-radius: 5px 0 0 5px;
    }

    .very-dark-cyon {
        border-radius: 0 5px 5px 0;
    }
}