@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent--white: hsla(0, 0%, 100%, 0.75);
    --very--light--gray: hsl(0, 0%, 95%);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 5rem 1rem;
}

.card {
    padding: 30px;
}

h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--very--light--gray);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9375rem;
    color: var(--transparent--white);
}

.bright-orange {
    background: var(--bright-orange);
    border-radius: 10px 10px 0 0;
}

.dark-cyon {
    background: var(--dark-cyan);
}

.very-dark-cyon {
    background: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
}

/* .btn{
    color: var(--very--light--gray);
} */

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}