@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent--white: hsla(0, 0%, 100%, 0.75);
    --very--light--gray: hsl(0, 0%, 95%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca',
        sans-serif;
    color: white;
    background: var(--very--light--gray);
}

.container {
    max-width: 324px;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem 1rem;
    box-sizing: border-box;
}

.card {
    padding: 2.5rem;
    min-height: 15rem;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

p {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-top: 0;
}

.bright-orange {
    background: var(--bright-orange);
    border-radius: 8px 8px 0 0;
}

.dark-cyon {
    background: var(--dark-cyan);
}

.very-dark-cyon {
    background: var(--very-dark-cyan);
    border-radius: 0 0 8px 8px;
}

.btn {
    font-size: 0.875rem;
    font-family: 'Lexend Deca', sans-serif;
    padding: .75rem 2rem;
    border-radius: 5rem;
    border: 2px solid var(--transparent--white);
    background: var(--very--light--gray);
    margin-top: 2rem;
    display: inline-block;
    text-align: center;
    transition: 0.5s ease;
}

.btn:hover {
    cursor: pointer;
    background: unset;
    color: white;
}

.button1 {
    color: var(--bright-orange);
}

.button2 {
    color: var(--dark-cyan);
}

.button3 {
    color: var(--very-dark-cyan);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution {
    font-size: .75rem;
    color: var(--very-dark-cyan);
    text-align: center;
    position: bottom;

}

@media(min-width: 870px) {

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 875px;
        padding: 0 2rem;
        margin-top: 12rem;
    }

    .card {
        max-width: 13.2rem;
    }

    .bright-orange {
        border-radius: 8px 0 0 8px;
    }

    .very-dark-cyon {
        border-radius: 0 8px 8px 0;
    }
}